@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --font-primary:'Poppins', sans-serif;
    --font-secondary:'Montserrat', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--font-primary);
    
}

body{
    text-align: center;
    background-color: rgb(236, 236, 236);
    /* background: url('../images/background4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 900px; */
    overflow-x: hidden;
    
}


header{
    z-index: 1;
    display: flex;
    width: 100%;
    height: 9vh;
    background-color:#f1af09bb;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    box-shadow: 10px 2px 5px 0px #795702;
    
}

nav{
    width: auto;
    margin-left: 40%;
    
}

nav ul{
    text-decoration: none;
    list-style-type: none;    
}

nav ul li{
    display: inline;
    margin-right: 3vh;
}

.hamburguer{
    visibility: hidden;  
   
    
}

#logo{
    width: auto;
}

#banner{
    
    width: 100%;
    height: 950px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/banner.jpg');
    box-shadow:inset 0 0 0 2000px rgba(51, 51, 51, 0.3);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.title1{
    
    font-size: 90px;
    font-family: var(--font-secondary);
    
    text-shadow: 1px 1px 4px #f17909
}

.description1{
    
    font-size: 280%;
    padding-bottom: 15px;
    text-shadow: 0px 1px 1px #f17909
}

.buttom1{
    
    margin-top: 1.2%;
    width: 200px;
    height: 6vh;
    color: black;
    font-size: 130%;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.603);
    
}

.buttom1:hover{
    transition: 600ms;
    width: 250px;
    
    box-shadow: 5px 1px 5px 2px #f8b305a9;
    
    background-color: rgba(0, 3, 194, 0.829);
}

.services{
    width: 100%;
    height: 55vh;
    padding-top: 8%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 8vh;

}

.name1{
    margin-top: 4.2%;
    font-family: var(--font-secondary);
    font-size: 350%;
    margin-bottom: -8%;
    text-shadow: 1px 1px 6px #141414;   
}

.name2{
    margin-top: 4.2%;
    font-family: var(--font-secondary);
    font-size: 350%;
    margin-bottom: -1.2%;
    text-shadow: 1px 1px 6px #141414;    
}

.name3{
    margin-top: 5%;
    font-family: var(--font-secondary);
    font-size: 350%;
    text-shadow: 1px 1px 6px #141414;    
}

.cardS{
    width: 24rem;
    height: 48vh;
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    padding-top: 6vh;
    box-shadow: 5px 10px 10px 5px rgba(37, 37, 37, 0.829);
}

.cardS:hover{
    background-color:rgba(238, 238, 238, 0.377);
    transition: 600ms;
}

#wordpress{
    margin-right: 5%;
    
}

#progam{

}

#webDesign{
    margin-left: 5%;
}

.title2{
    color: black;
    font-size: 230%;
    font-weight: 500;
    
   
}


.text{
    margin-top: 6%;
    font-size: 120%;
    color: black;
    font-weight: 500;
    
}


.cardP{
    width: 24rem;
    height: 48vh;
   
    background-color:rgb(211, 208, 208);
    border-radius: 20px;
    padding-top: 6vh;
}

.cardP img{
    margin-top: 35px;
    width: 24rem;
    height: auto;
}

.subtitle{
    font-size: 20px;
    line-height: 150px;
    color: black;
}

#laguna{
    margin-right: 5%;
}

#mary{

}

#lari{
    margin-left: 5%;
}

#projetos{
    background-color: rgb(250, 250, 250);
    padding-bottom: 0.3%;
    
}

.title3{
    margin-top: 5.5%;
    font-size: 380%;
    color: black;
}

.buttom2{
    margin: auto;
    margin-top: 2%;
    width: 10%;
    height: 6vh;
    color: black;
    font-size: 130%;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    
    
}

.buttom2:hover{
    transition: 200ms;
    width: 10.3%;
    height: 6.5vh;
    box-shadow: 5px 1px 5px 2px #f8b305a9;
    color:#f6b207;
    background-color: rgba(0, 0, 0, 0.829);
    
}



#about{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    flex-flow: wrap;
    background-color: rgb(245, 245, 245);
    height: 71.1vh;
}
#imageAbout img{
    width: 500px;
    height: auto;
    margin-right: 20px;
    align-self: flex-end;
}

#textAbout{
    margin-top: 20px;
    width: 500px;
    height: 65vh;
    margin-left: 20px;
    font-size: 20px;
    line-height: 28px;
    text-align: start;
}

#contact{
    width: 30%;
    height: 40.6vh;
    margin: auto;
    margin-top: 8vh;
    background-color:#f8ba28;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35%;
    flex-wrap: wrap;
}



.nameInput{
    font-size: 180%;
    color: rgb(24, 24, 24);
    text-align: start;
    
}

input{
    background-color: rgba(221, 221, 221, 0.746);
    margin-bottom: 5px;
    
}

input::placeholder{
    font-size: 150%;
    color: rgba(24, 24, 24, 0.87);;
}


.input1{
    width: 550px;
    height: 3em;
    border-radius: 5px;
    box-shadow: 8px 4px 5px 3px rgba(31, 31, 31, 0.596);
}

.input2{
    width: 550px;
    height: 5rem;
    border-radius: 5px;
    box-shadow: 8px 4px 5px 3px rgba(31, 31, 31, 0.596);
}


.buttom3{
    
    margin-top: 1.2%;
    width: 200px;
    height: 6vh;
    color: black;
    font-size: 130%;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.603);
    
}

.buttom3:hover{
    transition: 600ms;
    width: 250px;
    
    box-shadow: 5px 1px 5px 2px #f8b305a9;
    color:#f6b207;
    background-color: rgba(0, 0, 0, 0.829);
}

#footer{
    
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 6vh;
    text-align: center;
   
}







@media (max-width: 1120px){
    #logo{
        visibility: hidden;
    }
    nav ul{
        visibility: hidden;
    }

    .hamburguer{
        
        visibility: visible;
        
        width: 2rem;
        height: 2rem;
        z-index: 100;
        right: 25px;
        top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
    }

    .lineAll{
        width: 100%;
        height: 5px;
        background-color: white;
        margin-bottom: 7px;
        
    }
    
    .showMenu{
        width: 40%;
        height: 100vh;
        background-color: red;
    }

    .showMenu .lineAll{
        visibility: hidden;
    }

    .showMenu .hamburguer{
        visibility: hidden;
    }

}